
/* blog and event */
.blog-and-event-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    padding: 32px 64px;
  }
  
  .blog-and-event-section h1 {
    color: var(--brand-Black-Shade-1, #2C2C31);
    font-size: 45px;
    font-weight: 300;
    line-height: 52px; /* 115.556% */
  }
  
  .blogEventContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    align-self: stretch;
  }
  
  .blogEventItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--Schemes-On-Primary, #FFF);
    border: 1px solid var(--Schemes-Secondary, #7a580c);
  }
  
  .blogImg {
    height: 300px;
    flex: 1 0 0;
    border-radius: 16px;
  }
  
  .blogImg img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .blogWriteSection {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 0 0;
  }
  
  .blogWriteSection h5 {
    text-transform: capitalize;
    color: var(--brand-Black-Shade-1, #2C2C31);
    font-size: 24px;
    font-weight: 300;
    line-height: 32px; /* 133.333% */
  }
  
  .blogWriteSection p {
    display: -webkit-box; /* Fallback for older browsers */
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5; /* Limits the text to 5 lines */
    max-height: calc(24px * 5); 
    color: var(--brand-Black-Shade-1, #2C2C31);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
  }
  
  .buttomBlogCard {
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    border-top: 0.5px solid rgba(0, 0, 0, 0.30);
  }
  
  .buttomBlogCard p {
    color: var(--brand-Black-Shade-1, #2C2C31);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
  }
  
  /* Responsive Design */
  @media (max-width: 1120px) {
    .blog-and-event-section {
      padding: 32px;
    }
  
    .blog-and-event-section h1 {
      font-size: 36px;
      line-height: 44px;
    }
  
    .blogWriteSection p {
      -webkit-line-clamp: 3;
      max-height: calc(24px * 3);
    }
  }
  
  @media (max-width: 700px) {
    .blog-and-event-section {
      padding: 32px 16px;
    }
  
    .blogImg {
      width: 100%;
    }
  
    .blogEventContainer,
    .blogWriteSection {
      width: 100%;
    }
    .blogWriteSection{
      gap: 12px;
    }
  
    .blogEventItem {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  
    .blog-and-event-section h1 {
      font-size: 32px;
      line-height: 40px;
    }
  }

  /* Blog pages */
  .blogPostSection{
    display: flex;
padding: 32px 64px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
align-self: stretch;
width: 100%;
  }
  .blogPostSection .back{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: start;
    width: 100%;
    color: var(--brand-Black-Shade-1, #2C2C31);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;

  }
  a{
    text-decoration: none;
  }
.blogPostImg{

align-self: stretch;
width: 100%;
object-fit: cover ;
max-height: 500px;
}
.blogPostImg img{
  width: 100%;
  max-height: 500px;
}
.blogMessageSection{
  width: 100%;
  display: flex;

flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
}
.blogMessageSection h1{
  text-align: center;
  color: var(--brand-Black-Shade-1, #2C2C31);
font-size: 45px;
font-style: normal;
font-weight: 300;
line-height: 52px; /* 115.556% */
}
.blogMessageSection p{
  color: var(--brand-Black-Shade-1, #2C2C31);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
   gap: 16px;
}


@media (max-width:1120px) {
  .blogPostSection{
  padding: 32px 32px;
}
.blogMessageSection h1{
  font-size: 45px;
  line-height: 52px; 
}
}
@media (max-width:480px) {
  .blogPostSection{
  padding: 16px 16px;
  gap: 16px;
}
.blogMessageSection h1{
  font-size: 36px;

  line-height: 44px;
}
.blogMessageSection p{
  font-size: 14px;

  
}
.blogMessageSection{
  gap: 16px;
}
}